@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff;
    line-height: 1.6;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h2 {
    margin: 15px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: crimson;
}

/* Header Styling */

#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}

#header .header {
	min-height: 8vh;
    padding: 10px;
    background-color: #00000098;
	box-shadow: 0px 2px 10px #00000077;
    backdrop-filter: saturate(180%) blur(20px);
	transition: background-color 0.3s ease-in;
}

#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 0 10px;
}

#header .nav-list ul {
	list-style: none;
	position: absolute;
	background: #324964;
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}

#header .nav-list ul.active {
	left: 0%;
}

#header .nav-list ul a {
    margin: 5px 0;
    border-radius: 6px;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    width: 100%;
    letter-spacing: 2px;
}

#header .nav-list ul li:hover a {
	color: #fff;
}

#header .nav-list ul a::after{
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #fff;
    transition: width 0.3s ease-in;
}

#header .nav-list ul a:hover::after{
    width: 100%;
}

#header .hamburger {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
}

#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 2px solid #fff;
}

#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: #fff;
	z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: #fff;
	transition: 0.3s ease;
	transition-property: top, bottom;
}

#header .hamburger .bar::after {
	top: 8px;
}

#header .hamburger .bar::before {
	bottom: 8px;
}

#header .hamburger.active .bar::before {
	bottom: 0;
}

#header .hamburger.active .bar::after {
	top: 0;
}

/* Hero Styling */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("/Img/Hero-Banner.avif") no-repeat center right/cover;
    text-align: center;
    padding: 20px;
}

.hero div {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 600;
    background: linear-gradient(90deg, #8fec5c, #e2a213, #33d3c4, #bdd325);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#animate {
    overflow: hidden;
    font-size: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.animate-heading {
    text-align: center;
    color: #324964;
    animation: marquee 5s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* About styling */

#about {
    padding: 100px 20px 30px 20px;
    text-align: center;
}

#about .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
}

#about .about-left {
    width: 350px;
    height: 350px;
}

#about .about-right {
    width: 100%;
}

#about .about-right h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
    color: #324964;
}

#about .about-right p {
    margin-bottom: 20px;
}

.about-right a {
    margin: 0px 5px;
}

#about .about-right {
    color: #333;
    padding: 10px 20px;
    font-size: 1rem;
}

.about-img img {
    border-radius: 25px;
    padding: 20px;
}

/* Company Animate Styling */

#company-animate {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

#company-animate h2 {
    color: #333;
    font-size: 20px;
    text-decoration: none;
    padding: 15px;
    text-transform: capitalize;
}

.animate-companies {
    display: flex;
    gap: 40px;
    text-align: center;
    color: #f4f4f4;
    animation: companies 8s linear infinite;
}

@keyframes companies {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Services & project Styling */

#services,
#projects {
    padding: 100px 20px 0 20px;
    text-align: center;
}

.services-flex,
.projects-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin: 30px 0;
}

.box {
    flex: 1 1 350px;
    max-width: 350px;
    background: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0px 4px 12px #a8a8a8;
    padding: 20px;
    transition: transform 0.3s ease-in;
}

.box h3 {
    letter-spacing: 1px;
    color: #324964;
    text-transform: uppercase;
}

.box:hover {
    transform: scale(1.05);
}

.box img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Contact Styling */

#contact {
    padding-top: 100px;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.contact-container h2 {
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
}

.contact-container input,
.contact-container textarea,
.contact-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-container textarea {
    min-height: 100px;
}

form input,
textarea {
    border: 1px solid #333;
    outline: 0;
}

.contact-container input::placeholder,
.contact-container textarea::placeholder {
    color: #888;
}

.contact-container button {
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.contact-container button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #333;
}

/* iframe Styling */

iframe {
    width: 100%;
    height: 500px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Footer Styling */

.footer {
    background: linear-gradient(0deg, #e4e2bd, #eea9a9, #ecec);
    color: #000;
    padding: 20px 40px;
}

.foot-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    padding: 10px 20px;
}

.foot-section {
    text-align: center;
}

.footer-section h3 {
    margin-bottom: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #333;
}

.footer-section ul.social-links li {
    display: inline-block;
    margin-right: 15px;
}

.footer-section form {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.footer-section form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.footer-bottom {
    margin-top: 40px;
    text-align: center;
    border-top: 2px solid #000;
    padding-top: 10px;
    font-size: 1rem;
}

.footer-bottom p a {
    text-decoration: underline;
    color: #333;
    margin: 0 5px;
}

.footer-bottom p a:hover {
    color: #808080;
}

.bx {
    font-family: boxicons !important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
    color: #000;
    transition: color 0.3s ease-in;
}

/* Custom Scroll-bar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #00000074;
    
}

::-webkit-scrollbar-track {
    background: transparent;
}

/* Back to top */

#back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #f4f4f4a3;
    font-size: 24px;
    border-radius: 6px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Responsive Design */

@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 15px;
    }

    .logo img {
        width: 50px;
    }

    nav ul {
        flex-direction: row;
        gap: 40px;
        margin-top: 10px;
    }

    .hero {
        height: 70vh;
        padding: 30px;
    }

    .hero h1 {
        font-size: 2rem;
    }

    #about .about {
        flex-direction: column;
    }

    #about .about-left,
    #about .about-right {
        margin-right: 20px;
    }

    .services-flex,
    .projects-flex {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 100%;
        max-width: 100%;
    }

    .contact-container {
        padding: 10px;
    }

    iframe {
        width: 100%;
        height: 300px;
    }

    .foot-flex {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px;
    }

    .logo img {
        margin-bottom: 10px;
        width: 50px;
    }

    nav ul {
        font-size: 14px;
        gap: 25px;
        flex-direction: row;
        margin: 0;
    }

    .company-animate h2 {
        font-size: 12px;
    }

    .hero h1 {
        font-size: 1.5rem;
    }

    .hero p{
        font-size: 1rem;
    }

    #about .about {
        padding: 20px;
    }

    .services-flex,
    .projects-flex {
        gap: 30px;
    }

    .box {
        width: 100%;
    }

    .contact-container input,
    .contact-container textarea,
    .contact-container button {
        padding: 8px;
    }

    iframe {
        height: 250px;
    }
}